storage "raft" {
  path = "{{ vault_data_path }}"
  node_id = "{{ inventory_hostname }}"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_cert_file = "{{ certs_path }}/server-cert.pem"
  tls_key_file  = "{{ certs_path }}/server-key.pem"
  tls_disable_client_certs = false
  tls_min_version = "tls12"
  ca_cert_file = "{{ certs_path }}/ca-cert.pem"
}

ui = true
disable_mlock = true
cluster_addr = "{{ cluster_addr }}"
api_addr = "{{ api_addr }}"
